/*Local fonts*/
@font-face {
  font-family: portfolio-font;
  src: url(Font-Family//PTSans/PTSans-Regular.ttf);
}

@font-face {
  font-family: intro-text;
  src: url(Font-Family/Montez/Montez-Regular.ttf);
}

body {
  font-family: portfolio-font, Arial, Helvetica, sans-serif;
}

/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: solid 3px black;
  border-radius: 60%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.intro-text {
  font-family: intro-text;
  font-size: 8.5vw;
  text-align: center;
}

.sub-intro-text {
  font-size: 2vw;
}

p {
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.subheadings {
  text-decoration: underline;
}

.frame {
  padding-top: 1vh;
  background: fixed;
}

#background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.see-through-background {
  opacity: 0;
  height: 5vh;
}

/*Header div*/
#header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 10vh 0vh;
  margin: 14vh 4vh 0vh;
  border-radius: 50px;
  background-color: rgb(255, 222, 184);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10vw;
}

.profile-pic {
  border: 2px black solid;
  border-radius: 100%;
  margin-left: 11vw;
  width: 32vw;
  transition: box-shadow 0.5s;
}

.profile-pic:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

/*Top Navigation Bar*/
#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 123, 0);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  height: 10vh;
  width: 100vw;
  margin-bottom: 3%;
}
.navlist {
  display: flex;
  flex-direction: row;
}

/*Hyperlinks*/
.navlist a:link {
  text-align: center;
  justify-items: center;
  color: black;
  background-color: rgb(255, 222, 184);
  width: 13vw;
  padding: 1vw 2vh;
  border-radius: 25px;
}
.navlist a:hover {
  background-color: black;
  color: rgb(255, 222, 184);
}

.navlist a:after {
  color: black;
  background-color: rgb(255, 222, 184);
}

#navbar a {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  margin: 0vw 2.5vw;
}
/*About me*/
#who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 0vh;
  margin: 0vh 4vh;
  border-radius: 50px;
  background-color: black;
  color: rgb(255, 222, 184);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/*My Work*/
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0vh;
  margin: 0vh 4vh;
  border-radius: 50px;
  background-color: rgb(255, 222, 184);
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/*My Work & individual Native pages*/
.screenshots {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.single-screenshot {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.single-screenshot img {
  max-height: 40vw;
  border: 1px rgb(156, 156, 156) solid;
  transition: box-shadow 0.5s;
}

.single-screenshot img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/*What can I do?*/
#what {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0vh;
  margin: 0vh 4vh;
  border-radius: 50px;
  background-color: black;
  color: rgb(255, 222, 184);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/*Where can you find me?*/
#where {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0vh;
  margin: 0vh 4vh;
  border-radius: 50px;
  background-color: rgb(255, 222, 184);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#where img {
  max-height: 3vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Sub-page Styling*/
.todo-list {
  background-color: rgb(255, 222, 184);
}

/*Naturely*/
.naturely {
  background-color: rgb(255, 222, 184);
}

.app-text {
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
