/*General Styling*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: portfolio-font;
  src: url(Font-Family/PTSans-Regular.ttf);
}

body {
  font-family: portfolio-font;
}

p {
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.frame {
  padding-top: 20vh;
}

/*Header div*/
#header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 7vh;
  background-color: white;
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10vw;
}

#header h1 {
  text-align: center;
  font-size: 50px;
}
.profile-pic {
  border: 3px black solid;
  border-radius: 100%;
  margin-left: 11vw;
  width: 32vw;
}

/*Top Navigation Bar*/
#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  height: 10vh;
  width: 100vw;
  margin-bottom: 3%;
}
.navlist {
  display: flex;
  flex-direction: row;
}
#navbar a {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  margin-left: 5vw;
  margin-right: 5vw;
}
/*About me*/
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: black;
  color: white;
}

/*My Work*/
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: white;
  color: black;
}

/*My Work & individual Native pages*/
.screenshots {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.single-screenshot {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.single-screenshot img {
  max-height: 40vw;
}

.games-server-screenshot {
  border: 1px rgb(156, 156, 156) solid;
}

/*What can I do?*/
#what {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: black;
  color: white;
}

/*Where can you find me?*/
#where {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#where img {
  max-height: 3vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.links {
  display: flex;
  flex-direction: row;
}

/*Naturely*/
.naturely {
  margin-top: 10vh;
}

.app-text {
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
